body {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  background: url('img/main-bg.jpg');
  font-family: 'Fira Sans', sans-serif;
  transform: perspective(900px);
  transform-style: preserve-3d;
}

#gameover {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.9);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#gameover.show {
  display: flex;
  animation: fade .3s ease;
}

#gameover h1 {
  font-size: 3rem;
}

body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

header > p {
  margin: 0;
  width: 100%;
  color: rgba(0,0,0,.8);
}

header .score, header .attempts {
  font-weight: 700;
  margin-left: .25rem;
  animation: fade .4s forwards;
}

@keyframes fade {
  from { transform: scale(1.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section {
  max-width: 216px;
  width: 100%;
  height: 316px;
  margin: .5rem;
  padding: .5rem;
  box-sizing: border-box;
  border:1px dotted rgba(0,0,0,.2);
  border-radius: .75rem;
}

.left {
  font-size: .8rem;
  color: rgba(0,0,0,.6);
  margin: 0;
}

.card {
  margin: auto;
  width: 200px;
  height: 300px;
  position: absolute;
  z-index: 999;
  color: #222;
  animation: drop .6s ease-out forwards;
}

@keyframes drop {
  from { transform: translate3d(0,0,400px) rotateY(360deg); opacity: 0; }
    to { transform: translate3d(0,0,0) rotateY(0deg); opacity: 1; }
}

.card .front {
  height: inherit;
  width: inherit;
  position: absolute;
  background: #f7f7f7;
  backface-visibility: hidden;
  border: .25rem solid white;
  border-radius: .5em;
  box-sizing: border-box;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card .back {
  width: inherit;
  height: inherit;
  position: absolute;
  background: white url('img/card-back.svg') no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: .25rem solid white;
  border-radius: .5em;
  box-sizing: border-box;
}

.card .front header {
  align-self: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card .front footer {
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotateZ(180deg);
}

.card .front .suite {
  font-size: 4em;
}

.card .red {
  color: #ff4646;
}

.card .black {
  color: #222;
}

nav {
  margin: 6rem auto;
  display: flex;
  max-width: 36rem;
  width: 100%;
}

nav a {
  padding: .75rem;
  flex: 1;
  font-size: .8rem;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  display: flex;
  justify-content: center;
  color: #222;
  text-decoration: none;
}

nav a b {
  margin: 0 0 0 .2rem;
}

nav a:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

nav a:last-child {
  border-right: 1px solid #222;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

nav a:hover {
  background: rgba(0,0,0,.1);
}